.pirs-title {
	font-size: 67.1em;
}

#pirs-message .oo-ui-inputWidget-input {
	height: 12em !important;
}

/* Hide all steps by default: */
.tab {
	display: none;
}


.container {
	width: 500px;
	top: 20px;
	left: 20px;
	height: 400px;
	border-style: dotted;
	border-width: 1px;
	padding: 20px;
}



.signout_btn{
	text-transform: uppercase;
	text-align: left;
	outline: none;
	line-height: 10px;
	color: #000;
	display: inline-block;
	width: 100%;
	list-style-type: none;
	border:none;
	margin-top: .3vw;
	background-color: inherit;
	border: none;
	border-bottom: 1px outset;
	height: 3vw;
	font-size: 1vw;
	cursor: pointer;

}
.no-bullet{
	list-style: none;
	margin: inherit;
}
.icon-right{
	float: right;
}

@media all {

}
