<template>
<template>
	<div class="cdx-docs-card-group-with-thumbnails" v-if="activeStep == 1">
		<p>What do you need support with?</p>
		<cdx-card
			v-for="card in cards"
			:key="card.pageid"
			class="cdx-docs-card-group-with-thumbnails__card"
			:url="card.url"
			:force-thumbnail="false"
			:thumbnail="card.thumbnail"
			v-on:click="goToStep(2); addReason(1,card.title)"
		>
			<template #title>
				{{ card.title }}
			</template>
			<template #description>
				{{ card.description }}
			</template>
		</cdx-card>
	</div>
</template>
<template>
	<div class="cdx-docs-card-group-with-thumbnails" v-if="activeStep == 2">
		<p>{{reason_1}}</p>
		<hr/>
		<p>We’re very sorry to hear this. Our community does not tolerate harassment of any kind.
			Please share what type of harassment so that you can be supported appropriately.</p>
		<cdx-card
			v-for="card in cards2"
			:key="card.pageid"
			class="cdx-docs-card-group-with-thumbnails__card"
			:url="card.url"
			:force-thumbnail="false"
			:thumbnail="card.thumbnail"
			v-on:click="goToStep(3); addReason(2,card.title)"
		>
			<template #title>
				{{ card.title }}
			</template>
			<template #description>
				{{ card.description }}
			</template>

		</cdx-card>
	</div>
</template>
		<template id="step3" v-if="activeStep == 3">
			<h4>Summary Details: </h4>
			<strong>Need Support With: </strong> {{ reason_1 }}<br />
			<strong>Type of harassment: </strong> {{ reason_2 }}<br />
		</template>
</template>

<script>
const codex = require( '@wikimedia/codex' ),
	Vue = require( 'vue' );


const cards = [
	{
		pageid: 3613583,
		url: '#',
		title: 'Someone is harassing me',
		description: '',
	},
	{
		pageid: 176931,
		url: '#',
		title: 'Someone is harassing someone else',
		description: '',
	},
	{
		pageid: 11002203,
		url: '#',
		title: 'Someone is wikihounding me',
		description: '',
	}
];

const cards2 = [
	{
		pageid: 3613583,
		url: '#',
		title: 'Sexual harassment',
		description: '',
	},
	{
		pageid: 176931,
		url: '#',
		title: 'Hate Speech',
		description: '',
	},
	{
		pageid: 11002203,
		url: '#',
		title: 'Threats or violence',
		description: '',
	}
];


// @vue/component
module.exports = exports = Vue.defineComponent( {
	name: 'Pirs',
	components: {
		CdxCard: codex.CdxCard,
		CdxIcon: codex.CdxIcon,
	},
	data: function () {
		return {
			activeStep: 1,
				reason_1: '',
				reason_2:''
		}
	},
	setup() {
		return {
			cards,
			cards2
		}
	},

	methods: {
		goToStep: function(step) {
			this.activeStep = step;
		},
		addReason: function(step,reason) {
			switch (step) {
				case 1 :
					this.reason_1 = reason;
					break;
				case 2 :
					this.reason_2 = reason;
					break;

			}
		}
	}
} );
</script>

<style lang="less">

.cdx-card__text__title{
	font-weight: 350;
}

.cdx-docs-card-group-with-thumbnails {
	p {
		margin-bottom: 1em;
		margin-top: 1em;
		margin-left: .7em;
		font-weight: 50;
	}

	// The application implementing Cards must handle Card group layout styles.
	&__card {
		border: 0;
		cursor: pointer;
		display: inherit;

		&:last-child {
			margin-bottom: 0;
		}

	}

	a:focus {
		outline: none;
		box-shadow: none;
	}

}
</style>
